name: Jazz Drive 24/7 Bot

on:
  workflow_dispatch:

jobs:
  upload_job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Tools
        run: |
          pip install playwright pyTelegramBotAPI
          playwright install chromium

      - name: Run Bot
        run: |
          python upload.py
